[Desktop Entry]
Type=Application
Name=ArchLabs Installer
StartupNotify=true
Comment=Installer for ArchLabs
Categories=Utility;
Exec=sudo calamares
Icon=/usr/share/icons/hicolor/256x256/apps/al-calamares-logo.png
