[Desktop Entry]
Type=Application
Name=ArchLabs Installer
StartupNotify=false
Comment=Installer for ArchLabs
Categories=Utility;
Exec=install-al
Icon=/usr/share/icons/hicolor/256x256/apps/al-calamares-logo.png
