[Desktop Entry]
Version=1.0
Exec=/usr/bin/paranoid.py
Icon=compton
StartupNotify=true
Terminal=false
Type=Application
Name=Compositing Editor
Comment=Settings Editor for Compton
